<p>
  <em>Подписывайтесь на «Код Дурова» в <a href="https://tlgg.ru/d_code">Telegram</a> и во <a href="https://vk.com/kod">«ВКонтакте»</a>, чтобы всегда быть в курсе интересных новостей!</em>
</p>
