{{! Для временного отключения карточки её можно закомментировать, заменив ">" на "!"}}

{{> "sidebar/post-card" _important="true" _slug="rkn-site-dannye-russian-kazah-dec-2019"}}

{{> "sidebar/title" _text="Главные новости недели"}}

{{> "sidebar/post-card" _slug="electronny-passport-russia-coming"}} 

{{> "sidebar/post-card" _slug="putin-i-ego-comp-dec-2019"}}

{{> "sidebar/post-card" _slug="forbes-youtube-stars-dec-2019"}}

{{> "sidebar/post-card" _slug="uwb-apple-u1-ban-russia-dec-2019"}}

{{> "sidebar/post-card" _slug="lostfilm-poziciya-posle-blokirovki"}}

{{> "sidebar/post-card" _slug="cyberbunker-for-cybertruck-dec-2019"}}

{{> "sidebar/post-card" _slug="10-features-iphone-and-ios-3"}}

{{> "sidebar/post-card" _slug="photos-galaxy-fold-2-dec-2019"}}

{{> "sidebar/banner"}}