{{!< default}}

<section class="cell">
  <div class="error box">
    <h1>404</h1>
    <p>Страница не найдена.</p>
    <p>Перейти на <a href="{{@blog.url}}">Главную</a></p>
  </div>
</section>
