{{#get "posts" filter="featured:true" limit="6" include="tags"}}
    <div class="featured-posts">
        {{#if posts}}
        <article>
            <div class="featured-post dropdown has-x-padding-5 has-y-padding-4">
                <span class="featured-post-title">{{posts.0.title}}</span>
                <p class="text is-6 is-spaced">{{title}}</p>
                <div class="featured-post-meta">
                    <div class="featured-post-meta-container">
                        <span class="featured-post-tag">{{posts.0.primary_tag.name}},</span>
                        <span class="featured-post-date">{{date posts.0.published_at format="DD.MM"}}</span>
                    </div>
                    <span class="featured-post-expander">&#9662; Материалы недели</span>
                </div>
            </div>
            <div class="featured-post"></div>
            <div class="featured-post"></div>
        </article>
        {{/if}}
        {{#foreach posts as |post|}}
            {{#post}}
                <article>
                    <a class="featured-post" href="{{url}}">
                        <span class="featured-post-title">{{title}}</span>
                        <div class="featured-post-meta">
                            <div class="featured-post-meta-container">
                                <span class="featured-post-tag">{{primary_tag.name}},</span>
                                <span class="featured-post-date">{{date format="DD.MM"}}</span>
                            </div>
                        </div>
                    </a>
                </article>
            {{/post}}
        {{/foreach}}
        <div class="featured-posts-expander-out">
            <span>&#9650;</span>
        </div>
    </div>
{{else}}
    <p class="error">{{error}}</p>
{{/get}}
