<svg class="svg is-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450 705">
  <path d="M.2 705v-14c0-45.9 0-91.8-.1-137.7 0-3.2 1-5 3.7-6.6 54.9-33.4 109.7-66.9 164.6-100.3 44.8-27.3 89.6-54.7 134.4-82 48.6-29.6 97.1-59.3 145.6-88.9.3-.2.7-.3 1.6-.6v17c0 44.9 0 89.7.1 134.6 0 3-.9 4.7-3.5 6.3-66.9 40.8-133.7 81.7-200.6 122.5-69.8 42.5-139.6 85.1-209.4 127.6C24.7 690.2 12.8 697.4.2 705zM.2 0c12.8 7.8 25 15.3 37.3 22.8 47.2 28.8 94.4 57.6 141.5 86.4 46.9 28.6 93.8 57.3 140.8 85.9 3.3 2 3 2.9-.1 4.7-40.3 24.5-80.6 49.1-120.8 73.8-2.5 1.5-4.2 1.5-6.6 0C129.7 235.3 66.9 197 4.1 158.8 1.1 157 0 155 0 151.5.2 102.9.2 54.4.2 5.8.1 4.1.2 2.4.2 0z"/>
</svg>
