<article class="post-card {{_layout}} js-post{{#is "tag"}} tag-page{{/is}}">
  <a class="box" href="{{url}}">

    <div class="post-card-wrapper" style="background-image: url({{feature_image}});">

      <div class="post-card-meta">
        {{^is "tag, post"}}
          <p class="post-card-label">{{primary_tag.name}}</p>
        {{/is}}
        <time class="post-card-date" datetime="{{date published_at format="YYYY-MM-DD"}}">
          {{#is "tag, post"}}
            {{date published_at format="D MMMM"}}
          {{else}}
            {{date published_at format="DD.MM"}}
          {{/is}}
        </time>
      </div>

      <div class="post-card-body">
          <div class="post-card-meta_">
              {{^is "tag, post"}}
                  <p class="post-card-label_">{{primary_tag.name}}</p>
              {{/is}}
              <time class="post-card-date_" datetime="{{date published_at format="YYYY-MM-DD"}}">
                  {{#is "tag, post"}}
                      {{date published_at format="D MMMM"}}
                  {{else}}
                      {{date published_at format="DD.MM"}}
                  {{/is}}
              </time>
          </div>
        <h2 class="post-card-title">{{title}}</h2>
        <p class="post-card-excerpt">{{excerpt characters="140"}}...</p>
      </div>

      {{#if @first}}
        <div class="post-card-extra">
          <p class="post-card-button">Читать</p>
          <div class="post-card-logo">{{> "global/logo"}}</div>
        </div>
      {{/if}}

    </div>

  </a>
</article>
