<div id="yandex_ad1" style="margin: 0 auto;"></div>
<script type="text/javascript">
  (function(w, d, n, s, t) {
    if (window.matchMedia("only screen and (max-device-width: 728px)").matches) {
      var m = "R-A-285591-5";
    } else {
      var m = "R-A-285591-3";
    }
    w[n] = w[n] || [];
    w[n].push(function() {
      Ya.Context.AdvManager.render({
        blockId: m,
        renderTo: "yandex_ad1",
        async: true
      });
    });
    t = d.getElementsByTagName("script")[0];
    s = d.createElement("script");
    s.type = "text/javascript";
    s.src = "//an.yandex.ru/system/context.js";
    s.async = true;
    t.parentNode.insertBefore(s, t);
  })(this, this.document, "yandexContextAsyncCallbacks");
</script>