<div class="sidebar-list-item">
  <div style="padding: 12px; background-color: rgba(27, 127, 204, 0.2); box-shadow: 0 0 2px rgba(0,0,0,.05), 0 1px rgba(0,0,0,.02);" class="box has-x-padding-4 has-y-padding-4">
    {{> "banners/240x400"}}
    
    <a class="post-card-excerpt" style="color: #4f7697;" href="/ads">Реклама на kod.ru</a>
  </div>
</div>
