@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  src: local('Roboto'), local('Roboto-Regular'), url('/assets/fonts/roboto-v18-cyrillic_latin-regular.woff2') format('woff2'), url('/assets/fonts/roboto-v18-cyrillic_latin-regular.woff') format('woff')

@font-face
  font-family: 'Roboto'
  font-style: italic
  font-weight: 400
  src: local('Roboto Italic'), local('Roboto-Italic'), url('/assets/fonts/roboto-v18-cyrillic_latin-italic.woff2') format('woff2'), url('/assets/fonts/roboto-v18-cyrillic_latin-italic.woff') format('woff')

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 500
  src: local('Roboto Medium'), local('Roboto-Medium'), url('/assets/fonts/roboto-v18-cyrillic_latin-500.woff2') format('woff2'), url('/assets/fonts/roboto-v18-cyrillic_latin-500.woff') format('woff')

@font-face
  font-family: 'Roboto'
  font-style: italic
  font-weight: 500
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('/assets/fonts/roboto-v18-cyrillic_latin-500italic.woff2') format('woff2'), url('/assets/fonts/roboto-v18-cyrillic_latin-500italic.woff') format('woff')
